@CHARSET "UTF-8";

.menubar {
    position: fixed;
    height: 78px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    overflow: scroll;
}

.tabholder {
    position: relative;
    height: 70px;
    left: 10%;
    margin-left: 250px;
    z-index: 9;
    width: 696px;
}

.tab {
    text-align: center;
    width: 134px;
    padding: 10px;
    float: left;
    margin: 10px;
    margin-top: 20px;
    border-radius: 3px;
    z-index: 11;
    border: 0px;
}

.Rangam {
    font-size: 35pt;
    padding: 10px;
    margin-left: 10%;
    margin-right: -500px;
}